<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      Alterando as informações de um munícipe
    </p>
  </div>
</section>
<%= render "form", municipe: @municipe %>
</div>

